{% extends 'base.html' %}}

{% block 'content' %}
<div class="box-about">
  <h1>About Our Book Catalogue</h1>
  <p>
    Welcome to our Book Catalogue, your ultimate destination for discovering, rating, and reviewing a wide range of books across various genres. Whether you're looking for the latest bestsellers, classic literature, or niche genres, our collection offers something for every reader.
  </p>
  <p>
    Our mission is to create a vibrant community of book lovers who can share their thoughts and recommendations, making it easier for others to find their next great read. Explore our diverse collection of books, read reviews from fellow readers, and contribute your own ratings to help guide others on their reading journey.
  </p>
  <p>
    We strive to keep our catalogue updated with the latest books, ensuring that you always have access to fresh content. Join us and become a part of our growing literary community!
  </p>
</div>
{% endblock %}