{% extends 'base.html' %}

{% block 'content' %}
<div class="box-about">
  <h1>Contact Us</h1>

  <p>
    We value your feedback, questions, and suggestions! If you need any assistance or would like to get in touch with us, feel free to use any of the following methods:
  </p>

  <h2>Phone</h2>
  <p>Call us at: <strong>+37012345678</strong></p>

  <h2>Email</h2>
  <p>Send us an email at: <strong>bookcatalogue@gmail.com</strong></p>

  <h2>Social Media</h2>
  <p>Connect with us on our social media platforms:</p>
  <div class="contacts">
    <a href="https://www.facebook.com" target="_blank"><i class="bi-facebook"></i> Facebook</a>
    <a href="https://www.instagram.com" target="_blank"><i class="bi-instagram"></i> Instagram</a>
    <a href="https://www.twitter.com" target="_blank"><i class="bi-twitter"></i> Twitter</a>
  </div>

  <h2>Visit Us</h2>
  <p>If you're in the area, feel free to drop by our office:</p>
  <address>
    Book Catalogue Office<br>
    Vilniaus g. 23<br>
    Vilnius, Lithuania LT-98765
  </address>
</div>

{% endblock %}